.weatherWidget {
  background: #e6e6e6;
  padding: 20px;
  border-radius: 30px;
  width: 320px;
}

.weatherWidget-city {
  font-size: 1.5rem;
  font-weight: bold;
}

.weatherWidget-rainType {
  font-size: 0.9rem;
}

.weatherWidget-temperature {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.rainTypeIcon {
  background-size: cover;
  margin: 0 auto;
  width: 280px;
  height: 280px;
}

.rainType-sunny {
  background-image: url('../img/sun.svg');
}

.ww-sunny {
  background: #e6f3ff;
}

.rainType-clouds {
  background-image: url('../img/clouds.svg');
}

.ww-clouds {
  background: #b5b5b5;
}

.rainType-partialClouds {
  background-image: url('../img/partialClouds.svg');
}

.ww-partialClouds {
  background: #b4c0cc;
}

.rainType-rain {
  background-image: url('../img/rain.svg');
}

.ww-rain {
  background: #344e5d;
  color: #dedede;
}

.rainType-snow {
  background-image: url('../img/snow.svg');
}

.ww-snow {
  background: #e4f2f4;
}
